.location-container {
    justify-content: center;
    text-align: center;
    margin-top: 40px;
}

.location-container h1 {
    font-family: "Roboto", serif;
    font-weight: 800;
    font-size: 40px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    transform: rotateY(-10deg) skewX(-5deg);
    text-transform: uppercase;
    margin-bottom: 10px;
}

.location-container p {
    font-family: "Roboto", serif;
    font-weight: 800;
    font-size: 17px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    transform: rotateY(-10deg) skewX(-5deg);
    text-transform: uppercase;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid #333;
}

.location-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 40px;
    margin-bottom: 100px;
}

.location-content {
    transition: all ease 0.2s;
    cursor: unset!important;
}

.location-content:hover {
    transform: scale(1.03);
}


.location-content .location-header {
    width: 100%;
    height: 300px;
}

.location-content .location-header img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.location-content .location-description {
    background-color: #6161612f;
    padding: 10px 0px;
}

.location-content .location-description span {
    font-family: "Roboto", serif;
    font-weight: 800;
    font-size: 25px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    transform: rotateY(-10deg) skewX(-5deg);
    text-transform: uppercase;
}

.location-content .location-description p {
    font-family: "Roboto", serif;
    font-weight: 800;
    font-size: 15px;
    text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.5);
    transform: rotateY(-10deg) skewX(-5deg);
    text-transform: uppercase;
    margin-bottom: 0px;
    padding-bottom: 0px;
    border-bottom: none!important;
}